
/* General
-------------------------------------------------- */

body {
    background: #e5edf7;
    color: #474747;
}



/* Page Structure
-------------------------------------------------- */

#content-wrapper {
    background-color: #f9f9f9;
    -moz-box-shadow: 0px 0px 15px  rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 15px  rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    border: 0;
    padding: 10px 15px;
    margin: 35px 0;
}

@media (max-width: 991px) {
    #sidebar {
        margin-top: 25px;
    }
}

h1 {
    border-bottom: 2px solid #cccccc;
    font-size: 26px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 7px;
    text-align: center;
}
h2 {
    font-size: 20px;
    font-weight: bold;
}
h3 {
    color: #e25a2b;
    font-size: 16px;
    font-weight: bold;
    margin-top: 3px;
    padding: 5px 0;
}

a {
    color: #215198;
    text-decoration: underline;
}
a:hover,
a:focus {
    color: #0B97CC;
}

a[name] {
    text-decoration: none;
}
a[name]:hover {
    color: inherit;
}

@media (min-width: 768px) {
    ul li,
    ol li {
        margin-bottom: 0.75em;
    }
}

form abbr[title] {
    color: #e25a2b;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1;
    padding: 0 1px;
    vertical-align: middle;
    /* Reset default style */
    cursor: default;
    border: none;
    text-decoration: none;
}



/* Components
-------------------------------------------------- */

/* CAPTCHA Image */
.captcha > img {
    max-width: 300px;
}


/* Bootstrap Media Object */
.media .img-thumbnail {
    /* Fixes bug with thumbnails collapsing inside media object */
    max-width: none;
}


/* Buttons */
a.btn {
    text-decoration: none;
}
.controls a {
    margin: 0 8px;
}
@media (max-width: 1199px) {
    .controls a {
        margin: 8px;
    }
}
.controls a .ccicon {
    background-position: left bottom;
}


/* Panels */
.panel {
    border-color: #cccccc;
}
.panel-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
}
.panel-heading {
    padding: 4px 15px;
}
.panel-body {
    background-color: #f9f9f9;
    background-image: -webkit-linear-gradient(top, #f9f9f9 0, #e3e3e3 100%);
    background-image: -o-linear-gradient(top, #f9f9f9 0, #e3e3e3 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), to(#e3e3e3));
    background-image: linear-gradient(to bottom, #f9f9f9 0, #e3e3e3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe3e3e3', GradientType=0);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}


/* Panels with Heading Only */
.panel-heading-only {
    margin-top: 20px;
    margin-bottom: 15px;
}
.panel-heading-only .panel-heading {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}


/* Equalizer - Class applied to columns that are taller than the allowable max. */
.overflowed {
    overflow: auto;
}



/* Helpers
-------------------------------------------------- */

.mt15 {
    margin-top: 15px;
}
.mt25 {
    margin-top: 25px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb35 {
    margin-bottom: 35px;
}

@media (max-width: 767px) {
    /* Undo bootstrap 'btn-lg' class on extra small screens */
    .btn-default-on-xs {
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
    }
}



/* Header
-------------------------------------------------- */

body {
    /* Add padding to avoid the fixed navbar overlaying page content. */
    padding-top: 150px;
}
@media (min-width: 768px) {
    body {
        /* Add padding to avoid the fixed navbar overlaying page content. */
        padding-top: 220px;
    }
}

header #top {
    color: #ffffff;
    background-color: #0b97cc;
    background-image: -webkit-linear-gradient(top, #0b97cc 0, #215198 100%);
    background-image: -o-linear-gradient(top, #0b97cc 0, #215198 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0b97cc), to(#215198));
    background-image: linear-gradient(to bottom, #0b97cc 0, #215198 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0b97cc', endColorstr='#ff215198', GradientType=0);
    padding: 10px 0;
}

header #navigation {
    background-color: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff 0, #f8faf9 100%);
    background-image: -o-linear-gradient(top, #ffffff 0, #f8faf9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), to(#f8faf9));
    background-image: linear-gradient(to bottom, #ffffff 0, #f8faf9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8faf9', GradientType=0);
    border-bottom: 1px solid #cccdd1;
}


/* Site Logo */
@media (max-width: 1199px) {
    #logo img {
        width: 290px;
    }
}
@media (max-width: 991px) {
    #logo img {
        width: 220px;
    }
}
@media (max-width: 767px) {
    #logo img {
        width: 180px;
    }
}


/* Log in form */
#login .form-title {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}
#login form label {
    font-weight: normal;
}
#login form input {
    height: 26px;
}
#login form .form-group {
    margin-bottom: 5px;
}
#login form.form-horizontal .control-label {
    padding-top: 2px;
}


/* Live Chat */
#chat {
    float: right;
}
#chat p {
    background-color: #e25a2b;
    background-image: -webkit-linear-gradient(top, #e25a2b 0, #b84923 100%);
    background-image: -o-linear-gradient(top, #e25a2b 0, #b84923 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e25a2b), to(#b84923));
    background-image: linear-gradient(to bottom, #e25a2b 0, #b84923 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe25a2b', endColorstr='#ffb84923', GradientType=0);
    font-size: 12px;
    text-align: center;
}
#footer-chat #chat {
    float: none;
    max-width: 350px;
}
#footer-chat #chat img {
    height: 100%;
    width: 100%;
}
#footer-chat #chat p {
    color: #ffffff;
}

@media (min-width:992px) {
    #chat img {
        height: 80px;
        width: 260px;
    }
}


/* Main Site Navigation */
#main-navigation ul.nav li {
    margin-bottom: 0;
}
#main-navigation ul.nav li a {
    text-decoration: none;
}

@media (max-width: 991px) {
    #main-navigation ul.nav li.dropdown > a {
        float: right;
        text-align: right;
        background-color: #efefef;
        border-bottom: 1px solid white;
        margin-right: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #main-navigation ul.nav li.dropdown > a > .parent-title {
        display: none;
    }
}

#main-navigation ul.nav > li > .parent-link {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
}
#main-navigation ul.nav > li > .parent-link a {
    color: #777777;
}
#main-navigation ul.nav > li > .parent-link a:hover {
    color: #333333;
}
#main-navigation ul.nav .label
{
    font-weight: normal;
}

@media (min-width: 992px) {
	#main-navigation ul.nav > li > a {
	    border-left: 1px solid #cccccc;
	    color: #333333;
	    font-size: 14px;
	    font-weight: bold;
	    padding-left: 41px;
	    padding-right: 41px;
	}
	#main-navigation ul.nav > li > a:hover,
	#main-navigation ul.nav > li > a:focus {
	    color: #e25a2b;
	}
	#main-navigation #nav-item-blog a {
		/* Custom style the 'blog' navigation item. */
	    border-right: 1px solid #cccccc;
	    padding-left: 38px;
	    padding-right: 38px;
	}
	#main-navigation ul.nav > li.dropdown:hover > ul.dropdown-menu {
		/* Change Navbar submenu behavior to dropdown on hover. */
	    /* [ab] display: block;*/
	}
	#main-navigation .dropdown-menu {
		background: #f9f9f9; background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e3e3e3));
		background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e3e3e3');
		border: 1px solid #cccccc;
		border-bottom-right-radius: 6px;
	    border-bottom-left-radius: 6px;
		-moz-box-shadow: 0px 5px 5px  rgba(0,0,0,0.5);
		-webkit-box-shadow: 0px 5px 5px  rgba(0,0,0,0.5);
		box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
		padding: 0;
        min-width: 100px;
		width: 100%;
	}
	#main-navigation .dropdown-menu li:not(:last-child) {
		border-bottom: 1px solid #cccccc;
	}
	#main-navigation .dropdown-menu > li > a {
		padding-left: 10px;
		padding-right: 0;
	}
	#main-navigation .dropdown-menu > li > a:hover,
	#main-navigation .dropdown-menu > li > a:focus {
		background: #e25a2b;
		color: #ffffff;
		text-shadow: 0 1px 2px rgba(0,0,0,0.9);
	}
    #main-navigation .dropdown-menu > li > a:hover .ccicon,
    #main-navigation .dropdown-menu > li > a:focus .ccicon {
        background-position: left bottom;
    }
	#main-navigation .dropdown-menu > li:last-child > a,
	#main-navigation .dropdown-menu > li:last-child > a {
	    border-bottom-right-radius: 5px;
	    border-bottom-left-radius: 5px;
	}
    #main-navigation ul.nav > li > .parent-link {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #main-navigation #nav-item-seo > a {
        /* Custom style the 'seo' navigation item. */
        padding-left: 34px;
        padding-right: 34px;
    }
    #main-navigation ul.nav > li > a {
        padding-left: 22px;
        padding-right: 22px;
    }
    #main-navigation #nav-item-blog > a {
        /* Custom style the 'blog' navigation item. */
        padding-left: 21px;
        padding-right: 21px;
    }
}

/* Navbar "hovernav" dropdown menu. */
@media (min-width: 992px) {
    .navbar-nav .open ul {
        display: none
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background: none
    }
    .navbar-default .navbar-nav > li:hover {
        background: #e7e7e7
    }
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        color: #969696;
        background: none
    }
    .navbar-inverse .navbar-nav > li:hover {
        background: #080808
    }
    .navbar-nav .hovernav:hover > .dropdown-menu {
        display: block;
    }
}

@media (max-width: 991px) {
    #main-navigation .ccicon {
        /* Hide navigation icons on collapsed menu. */
        background: none;
    }
}



/* Footer
-------------------------------------------------- */

footer {
    background-color: #215198;
    background-image: -webkit-linear-gradient(top, #215198 0, #0b97cc 100%);
    background-image: -o-linear-gradient(top, #215198 0, #0b97cc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #215198), to(#0b97cc));
    background-image: linear-gradient(to bottom, #215198 0, #0b97cc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff215198', endColorstr='#ff0b97cc', GradientType=0);
    text-align: center;
    padding: 8px 0;
}

footer {
    position: relative;
}
footer .logo {
    position: absolute;
    bottom: 2px;
    left: 0;
}

footer .links {
    margin: 0 0 3px;
}
footer .links li {
    padding: 0;
}
footer .links li + li::before {
    content: "|";
    color: #ffffff;
    padding: 0 4px;
}
footer .links a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
footer .links a:hover {
    text-decoration: underline;
}

footer .copyright {
    color: #ffffff;
    font-size: 12px;
    margin: 0;
}

@media (max-width: 991px) {
    footer .logo {
        display: none;
    }
    footer .links a {
        font-size: 13px;
    }
    footer .copyright {
        font-size: 11px;
    }
}

@media (max-width: 767px) {
    footer .links a {
        font-size: 12px;
    }
    footer .copyright {
        font-size: 10px;
    }
}



/* Main Carousel
-------------------------------------------------- */

#scroller {
    /* For '#scroller > img' */
    position: relative;
}
#scroller > img {
    position: absolute;
    top: -4px;
    left: -4px;
    z-index: 1;
}
#scroller .flexslider {
    background-color: #f9f9f9;
    border: 12px solid #f9f9f9;
    -webkit-box-shadow: 10px 0px 15px  rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 0px 15px  rgba(0,0,0,0.4);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    margin: 0;
}
#scroller ul.slides li {
    /*-webkit-box-shadow: 10px 0px 15px  rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 0px 15px  rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);*/
    margin-right: 12px;
}
#scroller ul.slides li a {
    float: left;
    text-decoration: none;
    /* for '.caption' */
    position: relative;
}
#scroller .slides .caption {
    position: absolute;
    bottom: 0;
    /*background-color: #f2f2f2;*/
    background-color: rgba(242, 242, 242, 0.90);
    width: 100%;
}
#scroller .slides .caption p {
    color: #474747;
    font-size: 12px;
    line-height: 22px;
    margin: 0px;
    text-align: center;
}

/* Re-position flexslider navigation */
.custom-navigation a {
    position: absolute;
    bottom: -5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    height: 43px;
    width: 24px;
}
.custom-navigation .flex-prev {
    left: -36px;
    background-image: url("../images/scroller/left.png");
}
.custom-navigation .flex-next {
    right: -36px;
    background: url("../images/scroller/right.png");
}



/* Sidebar Content
-------------------------------------------------- */

/* Quick Quote Form */
#quick-quote-form .form-group {
    margin-bottom: 0px;
}
#quick-quote-form label {
    margin-bottom: 2px;
}
#quick-quote-form .captcha {
    text-align: center;
    margin-bottom: 20px;
}
#quick-quote-form .captcha img {
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    margin-bottom: 5px;
    width: 100%;
}
#quick-quote-form .captcha input {
    /* bootstrap 'input-sm' styles */
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 6px
}

a[name="quick-quote"] {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}
@media (min-width: 768px) {
    a[name="quick-quote"] {
        top: -200px;
    }
}
a[name="client-chat"] {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}


/* Referral Program */
#referral-program {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}
#referral-program p {
    font-weight: bold;
    padding: 0 5px;
}
#referral-program p > strong {
    font-size: 22px;
}
#referral-program .controls {
    margin-top: 20px;
}
@media (min-width: 992px) and (max-width: 1199px) {
    #referral-program > div > img {
        height: 56px;
        width: 56px;
    }
}


/* Side Navigation Links */
#sidenav {
    padding: 0;
}
#sidenav h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0;
    padding-left: 15px;
}
#sidenav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidenav li {
    margin-bottom: 0;
    line-height: 1.75;
}
#sidenav li a {
    display: block;
    color: #215198;
    font-weight: bold;
    padding: 2px 0;
    padding-left: 15px;
    text-decoration: none;
}
#sidenav ul:last-child li:last-child a {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
#sidenav li a:hover {
    color: #ffffff;
    background-color: #0b97cc;
}
#sidenav a:hover .ccicon {
    background-position: left bottom;
}
@media (min-width: 992px) and (max-width: 1199px) {
    h3.panel-title {
        font-size: 17px;
    }
    #sidenav h4 {
        font-size: 14px;
        margin: 6px 0;
        padding-left: 12px;
    }
    #sidenav li a {
        font-size: 12px;
        padding-left: 12px;
    }
}


/* Social Media Icons */
.socials {
    margin-left: 0;
}
.socials li {
    padding: 0;
    margin: 0 -1px;
}
.socials li a {
    display: inline-block;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .socials li a img {
        height: 39px;
        width: 39px;
    }
}


/* Client Access on Sidebar */
.client-access h3 a {
    color: inherit;
}



/* Page Content
-------------------------------------------------- */

/* Main Image */
.img-main {
    margin: 4px 0 4px 14px;
}


/* Checkmark List */
ul.list-chk {
    list-style-type: none;
    padding: 0px;
}
ul.list-chk li {
    background: url("../images/checkmark.png") no-repeat;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 0;
    padding: 0 7px 7px 30px;
}


/* Multi-column List */
.list-tricol {
    /* Total width / Number of Columns / Pixel Radio (825/4/16) */
    -moz-column-width: 12.89em;
    -webkit-column-width: 12.89em;
    column-width: 12.89em;
}


/* Service boxes */
#service-boxes .service-box {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 5px;
}
#service-boxes .service-box > a,
#service-boxes .media.service-box > a {
    text-decoration: none;
}
#service-boxes .service-box > a {
    /* Prevent link collapse */
    display: inline-block;
}
#service-boxes .media.service-box > a {
    /* Prevent link collapse */
    float: left;
}
#service-boxes .media.service-box a img {
    max-height: 150px;
}
#service-boxes .service-box .description,
#service-boxes .service-box .media-body {
    background-color: #eaeaea;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 5px;
}
#service-boxes .service-box .description {
    margin-top: 5px;
}
#service-boxes .service-box .description p,
#service-boxes .service-box .media-body p {
    color: #474747;
    margin-bottom: 0px;
}
#service-boxes .service-box .description p {
    line-height: 1.3em;
}

#service-boxes .service-box:hover {
    -webkit-box-shadow: 0px 0px 10px  rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px  rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    /* Transitions */
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -ms-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
#service-boxes .service-box:hover .description h3,
#service-boxes .service-box:hover .media-body h3 {
    /* [~ab] color: #ffa901; */
    text-decoration: underline;
}

@media (min-width: 992px) {
    .service-box .img-responsive {
        /* Bootstrap Bug Fix for Firefox and IE */
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #service-boxes .service-box a img {
        float: left;
    }
    #service-boxes .service-box .description {
        margin-top: 0;
        margin-left: 305px;
    }
    #service-boxes .service-box > a {
        background-color: #EAEAEA;
        border: 1px solid #E8E8E8;
        border-radius: 5px;
    }
}

@media (max-width:767px) {
    #service-boxes .service-box .media-left {
        padding-right: 0;
    }
    #service-boxes .service-box .media-body {
        margin-top: 5px;
        display: block;
        width: auto;
    }
    #service-boxes .media.service-box a img {
        max-height: none;
        /* Bootstrap 'img-responsive' styles */
        display: block;
        max-width: 100%;
        height: auto;
    }
}


/* Information Icon */
.icon-information {
    background: url("../images/info.png") no-repeat scroll left center;
}
.icon-information p {
    color: #474747;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 10px;
}


/* At a Glance Panel */
.at-a-glance {
    float: left;
    margin-right: 15px;
}
.at-a-glance .panel-heading {
    padding: 6px 10px;
}
.at-a-glance .panel-title {
    font-size: 18px;
    text-align: left;
}
.at-a-glance .panel-body {
    padding: 10px;
}


/* Key Points Panel */
.key-points .panel-heading {
    padding: 5px 5px;
}
.key-points .panel-title {
    font-size: 15px;
    text-align: right;
}
.key-points .table {
    font-size: 12px;
}
.key-points .table td {
    padding: 2px 5px;
}
.key-points .table tr td:first-child {
    font-weight: bold;
    text-align: right;
}


/* 'At a Glance' Panel and 'Key Points' Panel on larger devices */
@media (min-width:768px) {
    .at-a-glance .panel-body .thumbnail {
        float: left;
        margin-bottom: 0;
    }
    .key-points {
        float: right;
        margin-left: 10px;
        margin-bottom: 0;
    }
}


/* Samples Gallery */
@media (min-width:1200px) {
    #samples-gallery .thumbnail {
        margin-bottom: 0;
    }
}


/* Long Term Package */
.long-term-package .panel-heading {
    padding: 7px 15px;
}
.long-term-package .panel-title {
    font-size: 17px;
    text-align: left;
}
.long-term-package .panel-body {
    padding-top: 10px;
    padding-bottom: 10px;
    /* For '.special-offer' */
    position: relative;
}
.long-term-package .special-offer {
    position: absolute;
    top: -30px;
    right: -20px;
    background: url("../images/special.png") center center no-repeat;
    height: 100px;
    width: 100px;
    /* For '.special-offer p' */
    display: table;
    overflow: hidden;
}
.long-term-package .special-offer p {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
@media (max-width: 767px) {
    .long-term-package .special-offer {
        top: -10px;
    }
    .long-term-package ul {
        padding-left: 15px;
    }
}
.long-term-package .controls {
    margin-top: 15px;
    text-align: center;
}
.long-term-package .controls p {
    font-weight: bold;
    margin: 10px 0 0;
}


/* Service Examples */
ul.examples-gallery {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.examples-gallery li {
    margin-bottom: 30px;
}
ul.examples-gallery li:last-child {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .website-design-examples .panel-body a.btn {
        margin-bottom: 10px;
        text-align: center;
    }
}


/* Team Box */
.team-box .panel-body > .row .row {
    margin-top: 10px;
}
.team-box .panel-body > .row .row > div:first-child {
    font-weight: bold;
}

@media (min-width: 768px) {
    .team-box .panel-body > .row .row {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .team-box .panel-body > .row .row > div:first-child {
        text-align: right;
    }
}


/* FAQ */
ul.list-faq li {
    margin-bottom: 0;
}
a.faq {
    color: #444444;
    text-decoration: none;
}


/* Rate-Quote Panels */
.rate-quote .controls {
    text-align: center;
}

@media (min-width:768px) {
    .rate-quote .icon-information {
        float: left;
    }
    .rate-quote .controls {
        float: right;
    }
}



/* Blog
-------------------------------------------------- */

#blog article {
    background-color: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff 0, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #ffffff 0, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), to(#f5f5f5));
    background-image: linear-gradient(to bottom, #ffffff 0, #f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 10px;
}
#blog article .blog-title {
    border-bottom: 4px solid #a5a5a5;
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 15px;
}
#blog article .blog-title a {
    color: #474747;
    text-decoration: none;
}
#blog article .blog-content img {
    float: right;
    overflow: hidden;
    margin-left: 15px;
    margin-bottom: 10px;
}
#blog article .blog-info a {
    text-decoration: none;
}

/* Bio */
#blog .blog-author-info {
    background-color: #f2f7fc;
    border: 1px solid #cccccc;
    margin: 10px 0;
    padding: 5px;
    /* For '.addthis_sharing_toolbox' and '.view-all-posts' */
    position: relative;
}
#blog .blog-author-info img {
    height: 100px;
    width: 100px;
}
#blog .blog-author-info .bio {
    float: left;
    width: 60%;
}
#blog .blog-author-info .addthis_sharing_toolbox {
    position: absolute;
    top: 10px;
    right: 10px;
}
#blog .blog-author-info .view-all-posts {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
@media (max-width:767px) {
    #blog .blog-author-info .media-left {
        display: block;
    }
    #blog .blog-author-info .media-left img {
        margin: 0 auto;
    }
    #blog .blog-author-info .media-body {
        text-align: center;
    }
    #blog .blog-author-info .media-body .bio {
        float: none;
        width: auto;
    }
    #blog .blog-author-info .media-body .bio .author-name {
        display: block;
    }
    #blog .blog-author-info .addthis_sharing_toolbox,
    #blog .blog-author-info .view-all-posts {
        position: static;
        top: auto;
        right: auto;
    }
}

/* Existing Comments */
#blog .blog-existing-comments ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#blog .blog-existing-comments ul li img {
    margin-right: 10px;
    height: 50px;
    width: 50px;
}

/* Related Posts */
#blog #related-posts .slides a {
    display: block;
    background-color: #f2f7fc;
    border: 1px solid #cccccc;
    color: #474747;
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
#blog #related-posts .slides a:hover {
    background-color: #666666;
    color: #ffffff;
}
#blog #related-posts .slides a img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#blog #related-posts .flex-direction-nav a {
    line-height: 1;
}
#blog #related-posts .flexslider:hover .flex-direction-nav .flex-prev {
    left: -30px;
}
#blog #related-posts .flexslider:hover .flex-direction-nav .flex-next {
    right: -30px;
}

@media (max-width:991px) {
    #blog #related-posts .flex-direction-nav {
        display: none;
    }
}


/* Categories and Archives Widgets */
#blog-categories li,
#blog-archives li {
    padding: 0;
}
#blog-categories a,
#blog-archives a {
    color: #474747;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    /* Removed padding from list item, and re-introduced on link. */
    display: block;
    padding: 10px 15px;
}
#blog-categories a:hover,
#blog-archives a:hover {
    color: #0b97cc;
}

/* Categories Widget */
#blog-categories > li.parent > a > span {
    background-image: url("../images/slide_menu.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    margin-right: 10px;
    height: 10px;
    width: 10px;
}
#blog-categories > li.parent.expanded > a > span {
    background-position: 0 -10px;
}
#blog-categories > li.parent > ul {
    padding: 0;
}
#blog-categories > li.parent > ul li:first-child {
    border-top-width: 1px;
}
#blog-categories > li.parent > ul li a {
    font-size: 14px;
    padding: 6px 0 6px 40px;
}
#blog-categories ul li.expanded a {
    color: #0b97cc;
}
